MSSQL_CONNECTION_STRING="Server=your-server; Database=your-database; User Id=your-user; Password=your-password; Encrypt=True; TrustServerCertificate=True; MultipleActiveResultSets=True"
PORT=3000
APP_TIMEZONE=Africa/Cairo
